.element-center {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.button {
    background-color: #ff5e6c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.home-img {
    border: solid 8px #ff5e6c;
}