.element-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.account-border {
    border: 3px #ff5e6c solid;
}

.pad {
    padding-top: 3%;
    padding-bottom: 3%;
}

.listing-data {
    width: 40%;
    height: 40%;
    padding-bottom: 25px;
}

.btn-wc {
    background-color: #ff5e6c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 50%;
}

.cog {
    color: black;
}

.cog:hover {
    color: grey;
}