.element-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wc-image {
    margin-top: 5%;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.wc-card {
    width: 500px;
    height:450px;
    padding-bottom: 50px;
}

.listing-data {
    width: 40%;
    height: 40%;
    padding-bottom: 25px;
}

.btn-wc {
    background-color: #ff5e6c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 100%;
}

.btn-wc:hover {
    background-color: #ffd0d7;
    box-shadow: 5px 10px #888888;
}

.center-text {
    text-align: center;
}

.btn-add {
    background-color: #ff5e6c;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.btn-add:hover {
    background-color: #ffd0d7;
    box-shadow: 5px 10px #888888;
}

.icon-bar {
    width: 50%; /* Set a specific width */
}

.icon-bar a {
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    font-size: 18px; /* Increased font-size */
}


.icons:hover {
    cursor: pointer;
    font-size: 36px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}